@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <form method="post">
        <input type="int" name="nota1" />
        <input type="int" name="nota2" />
        <input type="int" name="nota3" />
        <input type="int" name="nota4" />
        <button type="submit" asp-page-handler="OnPost">Enviar</button>
    </form>
    <p>A média dos numeros é: @Model.Media</p>
</div>
